<% provide(:title, "About") %>
<h1>About</h1>

   

<div class="container">
  <h3>Resources List</h3>    
  <p>Please checkout the following resources.</p>
  <dl>
    <dt>Contacts</dt>
    <dd>- <a href="mailto:rogerne@btinternet.com">rogerne@btinternet.com</a></dd>
    <dd>- @ruuseukdee</dd>    
    <dt>Repositories</dt>
    <dd>- <a href="https://bitbucket.org/dashboard/overview">Bitbucket</a></dd>
    <dd>- <a href="https://github.com/rogerne">Github</a></dd>
  </dl>     
</div>