<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to the Base App</h1>

	<h3>
    This is the home page for you Basic Rails application. The base application contains the following features.<br>
  </h3>
   <ul class="list-group list-group-flush">
	  <li class="list-group-item">Bootstrap styling</li>
	  <li class="list-group-item">User sign in</li>
	  <li class="list-group-item">An authentication model</li>
	  <li class="list-group-item">Account activation by email</li>
	  <li class="list-group-item">A guest user feature</li>
	</ul>

	<br>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<br>
	<%= link_to "Guest Login", users_path, method: :post, class: "btn btn-lg btn-primary" %>

</div>