<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <% unless user.guest %>
        <%= gravatar_for user, size: 50 %>
      <% else %>
          n/a <%= user.guest %>
      <% end %>  
      <%= link_to user.name, user %>
      <%= user.id %>
      Is admin <%= user.admin %>
      <%= user.activated %>
      <%= user.activation_digest %>
      <%= user.email %>
      <% if current_user.admin? && !current_user?(user) %>
    | 		<%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  		<% end %>
    </li>
  <% end %>
</ul>