<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom ">
	<div class="white-text">
    A Template Ruby on Rails appliction by <a href="mailto:rogerne@btinternet.com">Neil Rogers</a>.
  </div>
	<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <%= link_to "About", about_path, :class => "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to "Help", help_path, :class => "nav-link" %>
    </li>
  </ul>
</nav>