<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <%= link_to "Base App", root_path, :class => "navbar-brand" %>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <%= link_to "Home", root_path, :class => "nav-link" %>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if logged_in? %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "Rooms", '#', :class => "nav-link" %>
      </li>
    </ul>
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="avatar" src="<%= gravatar_url(current_user) %>" alt="Piccie">
        <%= current_user.name %>
      </a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  <% end %>
</nav>